.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.text-primary{
    color: #FD6E0A;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul li{
    list-style: none;
    margin-right: 51px ;
}

nav li a{
    text-decoration: none;
    font-size: 20px;
}

.dark-1{
    color: #181818;
}

.dark-2{
    color: #474747;
}

.dark-3{
    color: #757575;
}

nav ul{
    display: flex;
    align-items: center;
}

.btn-primary{
    background-color: #FD6E0A;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    padding: 18px 35px 19px 36px;
    border-radius: 5px;
    border: none;

}

.banner-greetings{
    font-weight: 600;
    font-size: 45px;
}

.banner-title{
    font-weight: 700;
    font-size: 85px;
}  

.banner-description{
    font-weight: 400;
    font-size: 18px;
    max-width: 585px;
}

.banner-pro-pic{
    width: 584px;
    height: 676px;
}

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}

.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png) ;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}